body{
    font-family: Roboto, sans-serif;
    color: #2c2c2c;
    background-color: #fefefe;
}

/* .container{
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
} */

a{
    text-decoration: none;
    color: #2c2c2c;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img, svg{
    display: block;
    max-width: 100%;
}

button{
    cursor: pointer;
}

.container {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */

.page-header{
box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);
}

.header-container{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

/* Navigation-menu */

.navigation{
    display: none;
}

.main-button{
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    min-width: 98px;
    height: 32px;
    margin-left: 30px;
    border-radius: 30px;
    background-color: #bbf330;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover, .main-button:focus, .hero-button:hover, .hero-button:focus{
    background-color: #ffe450;
}

.burger-menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.burger-menu-button-icon{
    fill: #7eb101;
}

/* Main-content */

/* Hero-section */

.hero{
    padding-top: 60px;
    padding-bottom: 45px;
}

.hero-container{
    display: flex;
}

h1{
    font-size: 28px;
    font-weight: 700;
    width: 280px;
    margin-bottom: 28px;
}

.hero-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    width: 266px;
    margin-bottom: 32px;
}

.hero-button{
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    min-width: 98px;
    height: 32px;
    border-radius: 30px;
    background-color: #bbf330;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-image {
    display: none;
}

/* Our-offers */

.our-offers{
    padding-top: 46px;
    padding-bottom: 66px;
}

.background-image{
    display: flex;
    position: relative;
    margin-bottom: 368px;
}

.our-offers-image-second{
    position: absolute;
    left: 79px;
    top: 226px;
    max-width: 128px;
    flex-shrink: 0;
}

.our-offers-image {
    position: absolute;
    left: 42px;
    max-width: 202px;
    flex-shrink: 0;
}

.our-offers-title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 28px;
    max-width: 280px;
}

.our-offers-text{
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42;
        max-width: 280px;
        margin-bottom: 36px;
}

.advantages{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 28px;
}

.our-offers-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
}

.our-offers-icon{
    fill: #7eb101;
}

.our-offers-list-title{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 16px;
}

.our-offers-list-title-text{
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42;
        max-width: 280px;
}

.our-offers-button{
    font-size: 13px;
        font-weight: 500;
        line-height: 1.5;
        display: block;
        min-width: 106px;
        height: 40px;
        border-radius: 30px;
        border: 2px solid #7eb101;
        background-color: #ffffff;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-offers-button:hover, .our-offers-button:focus{
    border: none;
background-color: #bbf330;
}


/* Our-favorites */

.our-favorites{
    padding-top: 66px;
    padding-bottom: 60px;
}

.our-favorites-title{
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
}

.our-favorites-text{
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 60px;
}

.our-favorites-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.our-favorite-image-container{
    position: relative;
    border-radius: 50%;
    border: 11px solid #ffe550;
    background-color: #fefefe;
    width: 280px;
    height: 282px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-favorite-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.our-favorite-image-container:hover, .our-favorite-image-container:focus {
    border: 16px solid #bbf330;
}

/* Reviews */

.reviews {
    padding-top: 140px;
    padding-bottom: 126px;
    background-color: #ffe550;
    ;
}

.reviews-container{
    padding-left: 16px;
    padding-right: 120px;
}

.reviews-list {
    display: flex;
    gap: 139px;
}

.reviews-item {
    background-color: #fefefe;
    padding: 14px 14px;
    border-radius: 0px 30px 30px 30px;
    width: calc((100% - 139px) / 2);
}

.reviews-item .user-review{
    display: flex;
    gap: 16px;
    padding: 2px 0;
    max-width: 157px;
    align-items: center;
    border-right: 1px solid #7eb101;
}

.reviews-title{
    font-size: 42px;
    font-weight: 700;
}

.reviews-text{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20.4px;
    margin-bottom: 32.65px;
}

.reviews-icon{
    fill: #ffe550;
    margin-bottom: 28px;
}

.reviews-list-text{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 44.81px;
}

.name-author-review{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.author-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

/* Subscription */

.subscription{
    padding-top: 176px;
    padding-bottom: 201px;
}

.subscription-container{
display: flex;
justify-content: space-between;
padding-left: 2px;
}

.subscription-text-container{
    padding-top: 46px;
}

.subscription-title{
        font-size: 42px;
        font-weight: 700;
        line-height: 1.2;
        max-width: 656px;
        margin-bottom: 20px;
}

.subscription-text{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        max-width: 532px;
        margin-bottom: 24px;
}

.subscribe-form {
    display: flex;
    gap: 32px;
}

.subscribe-email{
    border-radius: 30px;
    border: 0.85px solid #ffe550;
    width: 395px;
    height: 42px;
    background-color: transparent;
    outline: transparent;
    outline-offset: 4px;
    padding-left: 12px;
    padding-right: 57px;
    color:#505050;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

.subscribe-email::placeholder {
    color: #505050;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

.subscribe-button{
    border-radius: 30px;
    background-color: #bbf330;
    color: #2c2c2c;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    min-width: 103px;
    height: 42px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover, .subscribe-button:focus{
    background-color: #ffe450;
}



/* Footer */

.footer-section{
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.10);
    background-image: url(../images/bg-footer-desktop.png);
    max-width: 100%;
    background-size: 1211px;
    background-repeat: no-repeat;
    background-position: 60% 100%;
    min-width: 1158px;
    margin: 0 auto;
}

/* Изображение 2х для Footer */

@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx),
screen and (min-devide-pixel-ratio: 2) {
    .footer-section {
        background-image: url(../images/bg-footer-desktop@2x.png)
    }
}

.footer-container{
   
}

.navigation-sudscride{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-navigation-footer{
    display: flex;
    margin-left: 5px;
}

/* Navigation-menu-footer */

.navigation-footer{
    margin-left: 143px;
}

.navigation-menu-footer{
        font-size: 14px;
        font-weight: 400;
}

.subscribe{
    margin-bottom: 80px;
}

.title-subscribe-form{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 12px;
}

.footer-email-form {
    display: flex;
    gap: 13px;
    margin-bottom: 12px;
}

.footer-subscribe-email{
    width: 279px;
}

.footer-button {
    border-radius: 30px;
    background-color: transparent;
    color: #2c2c2c;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    min-width: 103px;
    height: 42px;
    border: 0.85px solid #7eb101;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
    border: 2px solid #ffe450;
}

.privacy-policy-warning{
        font-size: 12px;
        font-weight: 400;
}

.link-privacy-policy{
    color:#7eb101;
    text-decoration-line: underline;
}

.developer-copiright-container{
    display: flex;
    justify-content: space-between;
}

.list-developer{
    display: flex;
    gap: 20px;
    align-items: center;
}

.link-developer{
    color: #7eb101;
        font-size: 12px;
        font-weight: 400;
        text-decoration-line: underline;
}

.copyright{
        font-size: 12px;
        font-weight: 400;
}