body{
    font-family: Roboto, sans-serif;
    color: #2c2c2c;
    background-color: #fefefe;
    width: 1280px;
}

a{
    text-decoration: none;
    color: #2c2c2c;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
}

button{
    cursor: pointer;
}

/* Header */

.main-header-container{
    display: flex;
    height: 72px;
    box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);
}

/* Navigation-menu */

.navigation-menu{
        font-size: 14px;
        font-weight: 400;
    display: flex;
    gap: 28px;
}

.list-navigation:first-child a{
    text-decoration: underline;
    color: #bbf330;
    font-weight: 700;
}


.page-header .container{
    width: 1120px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 144px;
}

.navigation{
    display: flex;
    align-items: center;
}

.main-button{
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    min-width: 98px;
    height: 32px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 30px;
    background: #bbf330;
    border: none;
}

/* Logo */

.logo{
margin-right: 735px;
padding-left: 16px;
padding-top: 10px;
}

/* Main-content */

/* Hero-section */

h1{
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2;
}

.hero-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.hero-button{
    font-size: 13px;
        font-weight: 500;
        line-height: 1.5;
        display: block;
        min-width: 98px;
        height: 32px;
        border-radius: 30px;
        background: #bbf330;
        border: none;
}

/* Our-offers */

.our-offers{
    display: flex;
    gap: 160px;
    background: #ffe550;
    padding-top: 113px;
    padding-bottom: 226px;
    padding-left: 100px;
}



.our-offers-image{
    /* background-color: #fefefe; */
    max-width: 502px;
        flex-shrink: 0;
    border-radius: 502px;
        background: #fefefe;;
}

.our-offers-title{
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 83px;

}

.our-offers-text{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        margin-top: 20px;
        max-width: 500px;
}

.advantages {
    display: flex;
    gap: 67px;
    padding-top: 96px;
    margin-right: 51px;
}

.our-offers-list-title{
        font-size: 18px;
        font-weight: 700;
        line-height: 1.4;
}

.our-offers-list-title-text{
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        margin-top: 16px;
}

.advantages-list{
width: calc((100% - 67px) / 2);
}

.our-offers-button{
    font-size: 13px;
        font-weight: 500;
        line-height: 1.5;
        display: block;
        min-width: 106px;
        height: 40px;
        border-radius: 30px;
        border: 2px solid #7eb101;
        background: #ffffff;
        margin-top: 32px;
}

/* Our-favorites */

.our-favorites-title{
        text-align: center;
        font-size: 42px;
        font-weight: 700;
}

.our-favorites-text{
        text-align: center;
        font-size: 16px;
        font-weight: 400;
}

/* Reviews */

.reviews-title{
        font-size: 42px;
        font-weight: 700;
}

.reviews-text{
            font-size: 16px;
            font-weight: 400;
}

.reviews-list-text{
    font-size: 18px;
    font-weight: 700;
}

.name-author-review{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
}

.author-description{
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
}

/* Subscription */

.subscription-title{
        font-size: 42px;
        font-weight: 700;
        line-height: 1.2;
}

.subscription-text{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
}

/* Footer */

/* Logo-footer */

/* Navigation-menu-footer */

.navigation-menu-footer{
        font-size: 14px;
        font-weight: 400;
}

.title-subscribe-form{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
}

.privacy-policy-warning{
        font-size: 12px;
        font-weight: 400;
}

.link-privacy-policy{
    color:#7eb101;
    text-decoration-line: underline;
}

.link-developer{
    color: #7eb101;
        font-size: 12px;
        font-weight: 400;
        text-decoration-line: underline;
}

.copyright{
        font-size: 12px;
        font-weight: 400;
}